<div ng-controller="logoutCtrl" class="modal show logout-modal" id="modal" tabindex="-1" role="dialog" ng-init="init()">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">Logout</div>
            <div class="modal-body">
                <div class="modal-inner-content">
                    <div>Are you sure you want to logout?</div>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-primary" type="submit" value="Yes" ng-click="logout()">
                    <button type="button" class="btn btn-default" id="logout-close-button" ng-click="$hide();">No</button>
                </div>
            </div>
        </div>
    </div>
</div>