<div ng-controller="editProfileCtrl" ng-init="init()" class="container" id="controller-container">
    <div class="panel panel-default">
        <div class="panel-heading">Edit Profile</div>
        <div class="panel-body">

            <div class="container" id="controller-container">
                <label class="control-label">Username</label> <i class="fa fa-info-circle" title="Provide a username for your account."></i>
                <input type="text" class="form-control" ng-model="user_name" placeholder="Enter username..." maxlength="25">

                <label class="control-label">Email</label> <i class="fa fa-info-circle" title="Provide an email for your account."></i>
                <input type="email" class="form-control" ng-model="email" placeholder="Enter email..." maxlength="320" required>

                <label class="control-label">Current Password</label> <i class="fa fa-info-circle" title="Type your current account password here."></i>
                <input type="password" class="form-control" ng-model="current_password" placeholder="Enter password..." maxlength="60" minlength="10" required>
                
                <label class="control-label">New Password</label> <i class="fa fa-info-circle" title="Type the new account password you want here."></i>
                <input type="password" class="form-control" ng-model="new_password" placeholder="Enter password..." maxlength="60" minlength="10" required>

                <label class="control-label">Confirm New Password</label> <i class="fa fa-info-circle" title="Type your new account password again, for verification purposes."></i>
                <input type="password" class="form-control" ng-model="repeat_new_password" placeholder="Enter password again..." maxlength="60" minlength="10" required>

                <hr />

                <label class="control-label">ChemSpider API Key</label> <i class="fa fa-info-circle" title="Provide your ChemSpider API Key."></i>
                <input type="text" class="form-control" ng-model="chemspider_api_key" placeholder="Enter ChemSpider API Key..." maxlength="36" minlength="36">
                
                <label class="control-label">DPLA API Key</label> <i class="fa fa-info-circle" title="Provide your DPLA API Key."></i>
                <input type="text" class="form-control" ng-model="dpla_api_key" placeholder="Enter DPLA API Key..." maxlength="32" minlength="32">
                
                <label class="control-label">Elsevier API Key</label> <i class="fa fa-info-circle" title="Provide your Elsevier API Key."></i>
                <input type="text" class="form-control" ng-model="elsevier_api_key" placeholder="Enter Elsevier API Key..." maxlength="32" minlength="32">
                
                <label class="control-label">EOL API Key</label> <i class="fa fa-info-circle" title="Provide your EOL API Key."></i>
                <input type="text" class="form-control" ng-model="eol_api_key" placeholder="Enter EOL API Key..." maxlength="40" minlength="40">
                
                <label class="control-label">FDA API Key</label> <i class="fa fa-info-circle" title="Provide your FDA API Key."></i>
                <input type="text" class="form-control" ng-model="fda_api_key" placeholder="Enter FDA API Key..." maxlength="40" minlength="40">
                
                <label class="control-label">ISBNdb API Key</label> <i class="fa fa-info-circle" title="Provide your ISBNdb API Key."></i>
                <input type="text" class="form-control" ng-model="isbndb_api_key" placeholder="Enter ISBNdb API Key..." maxlength="8" minlength="8">
                
                <label class="control-label">NCBO API Key</label> <i class="fa fa-info-circle" title="Provide your NCBO API Key."></i>
                <input type="text" class="form-control" ng-model="ncbo_api_key" placeholder="Enter NCBO API Key..." maxlength="36" minlength="36">
                
                <label class="control-label">OMIM API Key</label> <i class="fa fa-info-circle" title="Provide your OMIM API Key."></i>
                <input type="text" class="form-control" ng-model="omim_api_key" placeholder="Enter OMIM API Key..." maxlength="22" minlength="22">
                
                <label class="control-label">OpenPHACTS App ID</label> <i class="fa fa-info-circle" title="Provide your OpenPHACTS App ID."></i>
                <input type="text" class="form-control" ng-model="openphacts_app_id" placeholder="Enter OpenPHACTS App ID..." maxlength="8" minlength="8">
                
                <label class="control-label">OpenPHACTS App Key</label> <i class="fa fa-info-circle" title="Provide your OpenPHACTS App Key."></i>
                <input type="text" class="form-control" ng-model="openphacts_app_key" placeholder="Enter OpenPHACTS App Key..." maxlength="32" minlength="32">
                
                <label class="control-label">Springer API Key</label> <i class="fa fa-info-circle" title="Provide your Springer API Key."></i>
                <input type="text" class="form-control" ng-model="springer_api_key" placeholder="Enter Springer API Key..." maxlength="32" minlength="32">

                <label class="control-label">UMLS Username</label> <i class="fa fa-info-circle" title="Provide your UMLS Username."></i>
                <input type="text" class="form-control" ng-model="umls_username" placeholder="Enter UMLS Username..." maxlength="20">

                <label class="control-label">UMLS Password</label> <i class="fa fa-info-circle" title="Provide your UMLS Password."></i>
                <input type="password" class="form-control" ng-model="umls_password" placeholder="Enter UMLS Password..." maxlength="50">

                <label class="control-label">UMLS API Key</label> <i class="fa fa-info-circle" title="Provide your UMLS API Key."></i>
                <input type="text" class="form-control" ng-model="umls_api_key" placeholder="Enter UMLS API Key..." maxlength="36" minlength="36">

            </div>
            
        </div>
        <div class="panel-footer">
            <div class="clearfix">
                <button type="button" class="btn btn-default" ng-click="GoToProfile()">Cancel</button>
                <input class="btn btn-primary" type="submit" value="Submit Profile Edits" ng-click="EditProfile(user_name, email, current_password, new_password, repeat_new_password, chemspider_api_key, umls_username, umls_password, umls_api_key, eol_api_key, dpla_api_key, elsevier_api_key, fda_api_key, isbndb_api_key, ncbo_api_key, omim_api_key, openphacts_app_id, openphacts_app_key, springer_api_key)">
            </div>
        </div>
    </div>
</div>